/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Inter-Variable';
  --accent-font-family: 'Press Start 2P';
  --wght: 400;
  --accent-wght: 700;
  --text-shadow-color: #fff;
  --bg-color: #fff;
  --color: #000;
  --sparks: #FF0000;
  --font-size: 18px;
  --line-height: 21px;
  --opacity: 0.6;
  --accent-font-size: 14px;
  --line-height: 21px;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
              repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
              linear-gradient(#e7e7e7, #1a1a1a);
}